body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding-top: 60px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.main-container {
  height: 2000px;
}

.card-box {
  position: sticky;
  top: 150px;
  height: 0px;
  opacity: 0;
  transition: all 0.3s;
}

.slide-container {
  position: relative;
  width: 700px;
  height: 500px;
  overflow: hidden;
}

.slide-container button {
  border: none;
  background-color: inherit;
  font-size: 30px;
}

.slide-list {
  width: 3500px;
  display: flex;
  transition: transform 0.5s;
}

.slide-content {
  float: left;
  width: 700px;
}

.slide-content img {
  width: 100%;
  height: 400px;

}

.how-to-make {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.how-to-make>div {
  width: 25%;
  height: 60vh;
  margin: 20px;
  padding: 10px;
}

.how-to-make ul {
  margin: 0;
  padding: 0;
}

.how-to-make li {
  margin-bottom: 15px;
  list-style: none;
}

.slick-dots {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 45%;
  right: 30px;

}

.slickdot {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-bottom: 10px;
  background-color: lightgray;
  border-radius: 50%;
  box-shadow: 0px 0px 4px gray inset;
  cursor: pointer;
}

.slickdot.active {
  background-color: #444;
  box-shadow: inset 0px 0px 4px #888888;
}

#prev {
  position: absolute;
  z-index: 5;
  top: 210px;
  left: 10px;
}

#next {
  position: absolute;
  z-index: 5;
  top: 210px;
  right: 10px;
}