* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 60px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: green;
}

section {
  width: 100%;
  height: 100%;
  padding: 10px 70px;
}

.contents {
  height: 100%;
  background-color: bisque;
}

.menu-btn {
  float: left;
}

#side_nav {
  position: fixed;
  width: 150px;
  height: 100%;
  transition: transform 0.5s;
  transform: translateX(-120px);
  text-align: center;
  z-index: 5;
  background-color: beige;
}

#side_nav:hover {
  transform: translateX(0px);
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  
}