* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  padding-top: 100px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  height: 100px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: green;
}

section {
  width: 100%;
  height: 100%;
  padding: 10px 100px;
  text-align: center;
}

.contents {
  height: 100%;
  background-color: bisque;
}

.menu-btn {
  float: left;
}

.to-do-list {
  max-width: 700px;
}

.input-form {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.text-input {
  width: 90%;
  padding: 10px;
  border: 1px solid lightgrey;
  border-right: 0px;
  border-radius: 5px 0px 0px 5px;
  outline: none;
}

.list-table {
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;

}

#input_btn {
  width: 10%;
  border: 1px solid lightgrey;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

#input_btn:hover {
  background-color: aliceblue;
}

#side_nav {
  position: fixed;
  width: 150px;
  height: 100%;
  transition: transform 0.5s;
  transform: translateX(-120px);
  text-align: center;
  z-index: 5;
  background-color: beige;
}

#side_nav:hover {
  transform: translateX(0px);
}